{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Virtual Coding Assistant System - Home</title>


  <link rel="stylesheet" href="{% static 'index/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static  'index/vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static  'index/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static  'index/vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static  'index/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static  'index/vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li> 
              
              <li class="nav-item submenu dropdown">
                
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>

            <ul class="navbar-right">
              <li class="nav-item">
                
              </li>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <main class="side-main">
    <!--================ Hero sm Banner start =================-->      
    <section class="hero-banner mb-30px">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{% static 'index/img/banner/hero-banner.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-5 pt-5">
            <div class="hero-banner__content">
              <h1>Virtual Coding Assistant System</h1>
              <p>Designed to ensure you work with the right tools and frameworks</p>
              <a class="button bg" href="{% url  'register' %}">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero sm Banner end =================-->
  </main>
</li>
</ul>
</div>
</div>
</nav>
</div>
</header>
</body>
</html>