{% load staticfiles %}
<style type="text/css">
	
</style>
<nav class="navbar navbar-dark bg-inverse navbar-full">

  <a class="navbar-brand" href="{% url 'main' %}">
    
  </a>

  
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>

    </li>
  </ul>
  <ul class="nav navbar-nav float-xs-left">
    <li class="nav-item">
      <a class="nav-link" color="white" href="{% url 'comment' %}">Comment</a>
      
    </li>
  </ul>
</nav>